<h1>About me</h1>

<h2>
  Thanks for your interest to learn about me. My name is Hamza Arbeed and I am from Sandy Utah. I have been learning to program with rails and have created my own blog. My goals are to keep coding so I can further increase my knowledge as time goes on.</p>
</h2>
